*{
    margin: 0;
    padding: 0;
}
.container{
    width: 425px;
}
.flex1{
    width: 100%;
    display: flex;
    align-items: center;    
    padding: 10px;
    
}
header{
    width: 100%;
    height: 150px;
    
}
header .logo{
    width: 50px;
}
header ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
header ul img{
    width: 20px;
}
header .caixa{
    width: 80px;
    height: 25px;
    color: white;
    text-decoration: none;
    background-color: #FB91FF;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
}
.linha{
    background: #A4CBFF;
    height: 5px;
}
.caixa{
    justify-content: space-evenly;
    display: flex;
    width: ;
}
.banner img{
    width: 200px;
    display: flex;   
    border-radius: 10px;
    box-shadow: 10px 10px 10px #707070
}
.card{
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 80%;
    margin: 20px;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
       
}
.card a{
    width: 20px;
}

.caixa{
    text-decoration: none;
    background-color: #FB91FF;
    padding: 5px;
    border-radius: 10px;
    width: 70px;
}
.texto{
    text-decoration: none;
    padding: 0px 10px;
    justify-content: center;
    height: 50px;
    text-align: center;

}
.texto li{
    padding: 10px;
    height: ;
}
.flex2 img{
    width: 50px;
}
.rodape{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.rodape li{
    padding: 5px;
}
footer p{
    display: flex;
    justify-content: center;
}
.final{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.texto2 li{
    display: flex;
    justify-content: flex-end;

}

.preto{
    background: #000;
    width: 250px;
    height: 40px;
}

.rodape{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border: solid 1px #000000;
}
.div1 a, .div2 a{
    font-size: 13px;
    padding-bottom: 0.5em;
}
.div1{
    width: 33%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}
.div1 a{
    color: #000000;
    text-decoration: none;
}
.div2{
    width: 33%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}
.div2 a{
    color: #000000;
    text-decoration: none;
}
.logoimg{
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rodape .logo{
    width: 5em;
}
.rodape img{
    width: 1.5em;
}
.rodape2{
    text-align: center;
    border: solid 1px #000000;
}
footer{
    margin-top: 1em;
}
.profile{
    height: 50px;
    margin: 0px 20px
}
ul{
    list-style-type: none;
}
main{
    height: 650px;
    
}
.side{
    margin: 0px 0px;
}
.how{
    margin-left: -0px;
}






 
/* Fim media 425px */

@media screen and (min-width: 768px){
    .flex1{
        margin: 0px 150px;
    }
    .rodape{
        width: 730px;
    }
    .rodape2{
        width: 730px;
    }
    .leo{
        margin: 0px 20px;
    }
    .linha{
        width: 750px;
    }
    .mov{
        margin: 0px 110px;
    }  
}
/* Fim media 768px */

@media screen and (min-width: 1366px){
    .flex1{
        margin: 0px 400px;
    }
    .linha{
        width: 1310px;
    }
    .mik{
        margin: 50px -5px;
    }
    .rodape{
        width: 1310px;
    }
    .rodape2{
       width: 1310px;
    }
}
