*{
    margin: 0;
    padding: 0;
}
.container{
    width: 425px;
}
.flex1{
    width: 100%;
    display: flex;
    align-items: center;    
    padding: 10px;
}
header{
    width: 100%;
    height: 50px;
    margin-bottom: 2em;
}
header .logo{
    width: 50px;
}
header ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
header ul img{
    width: 20px;
}
header .caixa{
    width: 50px;
    height: 30px;
    color: white;
    text-decoration: none;
    background-color: #FB91FF;
    padding: 5px;
    border-radius: 10px;
}


/* CADASTRO */


.titulo_p{
    padding: 3em 0 1em 0;
    text-align: center;
}
.formcadastro{
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 10px 3px #474747;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    padding: 1em;
}
.campo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
.campo label{
    text-transform: uppercase;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select{
    border: none;
    background-color: var(--background);
    color: #ccc;
    border-bottom: 1px solid #474747;
    width: 60%;
}   
.caixa{
    width: 70px;
    height: 30px;
    color: white;
    text-decoration: none;
    background-color: #FB91FF;
    padding: 5px;
    border-radius: 10px;
}   


/* PERFIL */


.perfil1 img{
    width: 5em;
    border-radius: 100px;
    padding: 1em;
    background-color: rgb(219, 218, 218);
}
.perfil1 h2{
    background-color: rgb(219, 218, 218);
    padding: 0.5em;
    border-radius: 20px;

}
.perfil1{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}
.perfil2{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nasci{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    background-color: rgb(219, 218, 218);
    border-radius: 20px;
    padding: 0.8em;
}
.sobre p, .nasci p{
    font-size: 1.2em;
}
.sobre{
    width: 100%;
    background-color: rgb(219, 218, 218);
    border-radius: 20px;
    padding: 1.5em;
}


